<%= form_for(carrier) do |f| %>
  <% if carrier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carrier.errors.count, "error") %> prohibited this carrier from being saved:</h2>

      <ul>
      <% carrier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="portlet light bordered">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.label :name, "Carrier Name" %>
            <%= f.text_field :name, class: "form-control" %>          
          </div>
        </div>
      </div>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
