<p>
  <strong>Goal:</strong>
  <%= @tenant.goal %>
</p>

<p>
  <strong>Date applied:</strong>
  <%= @tenant.date_applied %>
</p>

<p>
  <strong>First name:</strong>
  <%= @tenant.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @tenant.last_name %>
</p>

<p>
  <strong>Employment:</strong>
  <%= @tenant.employment %>
</p>

<p>
  <strong>Employment contact:</strong>
  <%= @tenant.employment_contact %>
</p>

<p>
  <strong>Paycheck amount:</strong>
  <%= @tenant.paycheck_amount %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @tenant.ssn %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @tenant.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tenant.email %>
</p>

<p>
  <strong>Type:</strong>
  <%= @tenant.property_type %>
</p>

<p>
  <strong>Bed:</strong>
  <%= @tenant.bed %>
</p>

<p>
  <strong>Bath:</strong>
  <%= @tenant.bath %>
</p>

<p>
  <strong>Laundry:</strong>
  <%= @tenant.laundry %>
</p>

<p>
  <strong>Sqft:</strong>
  <%= @tenant.sqft %>
</p>

<p>
  <strong>Rent budget:</strong>
  <%= @tenant.rent_budget %>
</p>

<p>
  <strong>Area:</strong>
  <%= @tenant.area %>
</p>

<p>
  <strong>Move in date:</strong>
  <%= @tenant.move_in_date %>
</p>

<p>
  <strong>Note:</strong>
  <%= @tenant.note %>
</p>

<p>
  <strong>Family count:</strong>
  <%= @tenant.family_count %>
</p>

<p>
  <strong>Tenant names:</strong>
  <%= @tenant.tenant_names %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @tenant.pets %>
</p>

<p>
  <strong>Current lease:</strong>
  <%= @tenant.current_lease %>
</p>

<p>
  <strong>Current address:</strong>
  <%= @tenant.current_address %>
</p>

<p>
  <strong>Reference name:</strong>
  <%= @tenant.reference_name %>
</p>

<p>
  <strong>Reference contact:</strong>
  <%= @tenant.reference_contact %>
</p>

<p>
  <strong>Introduced:</strong>
  <%= @tenant.introduced %>
</p>

<p>
  <strong>Option address1:</strong>
  <%= @tenant.option_address1 %>
</p>

<p>
  <strong>Option address2:</strong>
  <%= @tenant.option_address2 %>
</p>

<p>
  <strong>Option address3:</strong>
  <%= @tenant.option_address3 %>
</p>

<p>
  <strong>Option address4:</strong>
  <%= @tenant.option_address4 %>
</p>

<p>
  <strong>Option address5:</strong>
  <%= @tenant.option_address5 %>
</p>

<p>
  <strong>Option address6:</strong>
  <%= @tenant.option_address6 %>
</p>

<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>
