
        <!-- BEGIN LOGO -->
        <div class="logo">
            <%= image_tag("logo_s.png") %>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN LOGIN FORM -->
            <%= form_tag '/login', class: "login-form" do %>
                <h3 class="form-title font-green">Sign In</h3>
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span> Enter an e-mail and password. </span>
                </div>
                <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %> fade in" style="margin-top: 20px;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <%= value %>
                </div>
                <% end %>
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Username</label>
                    <%= text_field_tag :email, nil, class: "form-control form-control-solid placeholder-no-fix", placeholder: "E-mail", autocomplete: "off" %>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <%= password_field_tag :password, nil, placeholder: "Password", class: "form-control form-control-solid placeholder-no-fix", autocomplete: "off" %>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Store</label>
                    <%= select_tag "store_id", options_from_collection_for_select(@stores, "id", "alias"), prompt: "Choose a Store", class: "form-control" %>
                </div>
                <div class="form-actions">
                    <%= submit_tag "Login", class: "btn green uppercase" %>
                    <!--
                    <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
                    -->
                </div>
            <% end %>
            <!-- END LOGIN FORM -->

            <!-- BEGIN FORGOT PASSWORD FORM
            <form class="forget-form" action="index.html" method="post">
                <h3 class="font-green">Forget Password ?</h3>
                <p> Enter your e-mail address below to reset your password. </p>
                <div class="form-group">
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" /> </div>
                <div class="form-actions">
                    <button type="button" id="back-btn" class="btn green btn-outline">Back</button>
                    <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
                </div>
            </form>
            END FORGOT PASSWORD FORM -->
        </div>
        <div class="copyright"> &copy; Copyright 2016<%= " - #{Time.now.year}" if Time.now.year > 2016 %>, <a href="#">Wireless Store Management System</a>, All Rights Reserved. </div>