<tr>
    <td> <%= @simple_item.sellable.sku %> </td>
    <td> <%= @simple_item.sellable.description %></td>
    <td> <%= @quantity %> </td>
    <td> <%= number_to_currency(@simple_item.sellable.retail_price * @quantity.to_i) %> </td>
    <td> <%= number_to_currency((@simple_item.sellable.taxable_price * @quantity.to_i) * Setting.sales_tax.to_f) if @simple_item.sellable.taxable %> </td>
    <td> <%= number_to_currency((@simple_item.sellable.retail_price * @quantity.to_i) + ((@simple_item.sellable.retail_price * @quantity.to_i) * Setting.sales_tax.to_f)) if @simple_item.sellable.taxable %> <%= number_to_currency(@simple_item.sellable.retail_price * @quantity.to_i) unless @simple_item.sellable.taxable %></td>
</tr>

<% child_index = Time.now.to_i %>
<input type="hidden" name="invoice[line_items_attributes][<%= child_index %>][quantity]" value="<%= @quantity %>" />
<input type="hidden" name="invoice[line_items_attributes][<%= child_index %>][sold_price]" value="<%= (@simple_item.sellable.retail_price * @quantity.to_i) + ((@simple_item.sellable.retail_price * @quantity.to_i) * Setting.sales_tax.to_f) %>" />
<input type="hidden" name="invoice[line_items_attributes][<%= child_index %>][sellable_id]" value="<%= @simple_item.sellable.id %>" />
<input type="hidden" name="invoice[line_items_attributes][<%= child_index %>][simple_item_id]" value="<%= @simple_item.id %>" />
<input type="hidden" name="invoice[line_items_attributes][<%= child_index %>][tax_amount]" value="<%= (@simple_item.sellable.taxable_price * @quantity.to_i) * Setting.sales_tax.to_f %>" />
<input type="hidden" name="invoice[line_items_attributes][<%= child_index %>][item_price]" value="<%= @simple_item.sellable.retail_price * @quantity.to_i %>" />

