<tr>
    <td> <%= @plan.code %> </td>
    <td> <%= @plan.name %><br /><small><%= @sale_type %></small> </td>
    <td> 1 </td>
    <td> <%= number_to_currency(@plan.price) %> </td>
    <td> </td>
    <td> <%= number_to_currency(@plan.price) %></td>
</tr>

<% child_index = Time.now.to_i %>
<input type="hidden" name="invoice[line_items_attributes][<%= child_index %>][quantity]" value="1" />
<input type="hidden" name="invoice[line_items_attributes][<%= child_index %>][sold_price]" value="<%= @plan.price %>" />
<input type="hidden" name="invoice[line_items_attributes][<%= child_index %>][plan_id]" value="<%= @plan.id %>" />
<input type="hidden" name="invoice[line_items_attributes][<%= child_index %>][tax_amount]" value="0" />
<input type="hidden" name="invoice[line_items_attributes][<%= child_index %>][item_price]" value="<%= @plan.price %>" />
<input type="hidden" name="invoice[line_items_attributes][<%= child_index %>][sale_type]" value="<%= @sale_type %>" />