<%= form_tag(add_simple_line_item_path, method: :get, remote: true) do %>
<table class="table table-bordered table-hover">
	<thead>
	    <tr>
	        <th> SKU </th>
	        <th> Description </th>
	        <th> Quantity </th>
	        <th> Price </th>
	    </tr>
	</thead>
	<tbody>
	    <tr>
	        <td> <%= @sellable.sku %> </td>
	        <td> <%= @sellable.description %> </td>
	        <td> <%= text_field_tag "quantity", nil, placeholder: "", class: "form-control", maxlength: 5, size: 7  %> </td>
	        <td> <%= number_to_currency(@sellable.retail_price) %> </td>
	    </tr>
	</tbody>
</table>

<%= hidden_field_tag "sku", @sellable.sku %>

<button class="btn btn-success" type="submit"><i class="fa fa-plus"></i> Add Line</button>
<% end %>
