<!-- Add Payment Modal -->
<div class="modal fade modal-scroll bs-modal-lg" id="payment" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Invoice a Payment</h4>
            </div>
            <%= form_tag('/invoices/add_payment_line_item', method: :get, remote: true) do %>
            <div class="modal-body">
					<div class="form-horizontal">
			            <div class="form-group">
			                <%= label :number_id, "Number", class: "col-md-2 control-label" %>
			                <div class="col-md-10">
			                	<%= collection_select :payment, :number_id, @customer.numbers.all, :id, :number, {prompt: "Select a Number"}, {class: "form-control"} %>
			                </div>
			            </div>
			            <div class="form-group">
			                <%= label :carrier_id, "Carrier", class: "col-md-2 control-label" %>
			                <div class="col-md-10">
			                	<%= collection_select :payment, :carrier_id, Carrier.all, :id, :name, {prompt: "Select a Carrier"}, {class: "form-control"} %>
			                </div>
			            </div>
			            <div class="form-group">
			                <%= label :payment_type_id, "Payment Type", class: "col-md-2 control-label" %>
			                <div class="col-md-10">
												<%= collection_select :payment, :payment_type_id, PaymentType.all, :id, :name, {prompt: "Select Payment Type"}, {class: "form-control"} %>
			                </div>
			            </div>
			            <div class="form-group">
			                <%= label :amount, "Payment Amount", class: "col-md-2 control-label" %>
			                <div class="col-md-10">
												<%= text_field_tag :amount, "", {class: "form-control"} %>
			                </div>
			            </div>
			            		<%= hidden_field_tag :customer_id, params[:customer_id] %>
		        	</div>
            </div>
            <div class="modal-footer">
            	<%= submit_tag "Add Payment", {class: "btn btn-success green"} %>
            </div>
            <% end %>
        </div>
    </div>
</div>