<h3 class="page-title"> New Sale for <b><%= @customer.full_name %></b>
  <small></small>
</h3>

<div class="portlet light bordered">
    <div class="portlet-title">
		<div class="row">
			<div class="col-md-6">
				<%= form_tag('/inventory/search', method: :get, remote: true) do %>
					<div class="input-group">
					    <%= text_field_tag "sku", nil, placeholder: "Enter SKU", class: "form-control sku-search" %>
					    <span class="input-group-btn">
					        <button class="btn blue" type="submit">ADD</button>
					    </span>	    			
					</div>
				<% end %>
			</div>
			<div class="col-md-6">
				<%= form_tag('/inventory/inventory_list', method: :get, remote: true) do %>
				<div class="input-group">
	                <span class="input-group-btn">
	                    <button class="btn red listing" type="button" data-toggle="modal" href="#draggable">
	                    	<i class="fa fa-list"></i>
	                    </button>
	                </span>
	                <input type="text" name="query" class="form-control" placeholder="Search...">
	                <span class="input-group-btn">
	                    <button class="btn blue" type="submit">
	                    	<i class="fa fa-search"></i>
	                    </button>
	                </span>
	            </div>
	            <% end %>
			</div>
		</div>
    </div>
    <div class="portlet-body add-area">

    </div>
</div>

<!-- LINE ITEM AREA -->
<%= form_for [@customer, @invoice] do |f| %>
	<table class="table table-condensed table-bordered table-hover">
	    <thead>
	        <tr>
	            <th> SKU </th>
	            <th> Description </th>
	            <th> Quantity </th>
	            <th> Price </th>
	            <th> Tax </th>
	            <th> Total </th>
	        </tr>
	    </thead>
	    <tbody class="line_item_area">


	    </tbody>
	</table>

	<div class="row">
		<div class="col-md-4 col-md-offset-8">
			<table class="table table-condensed table-bordered table-hover">
				<tr>
					<td>Sub Total:</td>
					<td>$<span id="subtotal">0</span></td>
				</tr>
				<tr>
					<td>Sales Tax:</td>
					<td>$<span id="salestax">0</span></td>
				</tr>
				<tr>
					<td>Total:</td>
					<td>$<span id="total">0</span></td>
				</tr>
			</table>
		</div>
	</div>

	<input type="hidden" id="hidden_subtotal" name="invoice[subtotal]" value="0" />
	<input type="hidden" id="hidden_salestax" name="invoice[sales_tax]" value="0" />
	<input type="hidden" id="hidden_total" name="invoice[total]" value="0" />

	<%= f.submit "Finalize Invoice", class: "btn btn-primary" %>
<% end %>

<button data-toggle="modal" href="#payment">Add Payment</button>



<div class="modal fade" id="error" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body"> Product with that serial number cannot be found. </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger red" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>





<!-- Find Product Modal Dialog Start -->
<div class="modal fade draggable-modal modal-scroll bs-modal-lg" id="draggable" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Find Product</h4>
            </div>
            <div class="modal-body inventory_modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="modal fade draggable-modal modal-scroll bs-modal-lg" id="payment" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add Payment to Sale</h4>
            </div>
            <%= form_tag('/invoices/add_payment_line_item', method: :get, remote: true) do %>
            <div class="modal-body">
				<div class="form-horizontal">
		            <div class="form-group">
		                <%= label_tag :number_id, "Number", class: "col-md-2 control-label" %>
		                <div class="col-md-10">
		                	<%= collection_select :payment, :number_id, @customer.numbers.all, :id, :number, {prompt: "Select a Number"}, {class: "form-control"} %>
		                </div>
		            </div>
		            <div class="form-group">
		                <%= label :carrier_id, "Carrier", class: "col-md-2 control-label" %>
		                <div class="col-md-10">
		                	<%= collection_select :payment, :carrier_id, Carrier.all, :id, :name, {prompt: "Select a Number"}, {class: "form-control"} %>
		                </div>
		            </div>
		            <div class="form-group">
		                <%= label :payment_type_id, "Payment Type", class: "col-md-2 control-label" %>
		                <div class="col-md-10">
							<%= collection_select :payment, :payment_type_id, PaymentType.all, :id, :name, {prompt: "Select Payment Type"}, {class: "form-control"} %>
		                </div>
		            </div>
		            <div class="form-group">
		                <%= label :amount, "Payment Amount", class: "col-md-2 control-label" %>
		                <div class="col-md-10">
							<%= text_field_tag :amount, "", {class: "form-control"} %>
		                </div>
		            </div>
	        	</div>
            </div>
            <div class="modal-footer">
            	<%= submit_tag "Add Payment", {class: "btn btn-success green"} %>
            </div>
            <% end %>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">
	$(".listing").on("click", function() {
		$.ajax({
	    url: "/inventory/inventory_list",
	    type: 'GET',
	    data: "",
	  })
	})
</script>
