<h3 class="page-title"> New Sale for <b><%= @customer.full_name %></b>
  <small></small>
</h3>

<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="row">

			<div class="col-md-4">
				<%= form_tag('/invoices/add_item', method: :get, remote: true) do %>
					<div class="input-group">
		        <span class="input-group-btn">
			        <button class="btn blue listing" type="button" data-toggle="modal" href="#draggable">
			        	<i class="fa fa-list"></i>
			        </button>
		        </span>
		        <%= text_field_tag "sku", nil, placeholder: "Enter SKU", class: "form-control sku-search" %>
		        <span class="input-group-btn">
		          <button class="btn blue" type="submit">+</button>
		        </span>
		      </div>
	      		<% end %>
			</div>

			<div class="col-md-4">
				<%= form_tag('/invoices/add_plan', method: :get, remote: true) do %>
				<div class="input-group">
	        <span class="input-group-btn">
		        <button class="btn blue" id="plans-list" type="button" data-toggle="modal" href="#plans">
		        	<i class="fa fa-list"></i>
		        </button>
	        </span>
	        <%= text_field_tag "code", nil, placeholder: "Enter Plan Code", class: "form-control plancode-search" %>
	        <span class="input-group-btn">
	          <button class="btn blue" type="submit">+</button>
	        </span>
	      </div>
	      <% end %>
			</div>

			<div class="col-md-4 text-right">
				<button class="btn blue" data-toggle="modal" href="#new_number">Add Number</button>
				<button class="btn blue" data-toggle="modal" href="#payment">Add Payment</button>
			</div>

		</div>
	</div>

  <div class="portlet-body add-area">

  </div>
</div>


<div class="portlet light bordered">
<!-- LINE ITEM AREA -->
<%= form_for [@customer, @invoice] do |f| %>
	<table class="table table-condensed table-bordered table-hover">
	    <thead>
	        <tr>
	            <th> SKU </th>
	            <th> Description </th>
	            <th> Quantity </th>
	            <th> Price </th>
	            <th> Tax </th>
	            <th> Total </th>
	        </tr>
	    </thead>
	    <tbody class="line_item_area">


	    </tbody>
	</table>

	<div class="row">
		<div class="col-md-4 col-md-offset-8">
			<table class="table table-condensed table-bordered table-hover">
				<tr>
					<td>Sub Total:</td>
					<td>$<span id="subtotal">0</span></td>
				</tr>
				<tr>
					<td>Sales Tax:</td>
					<td>$<span id="salestax">0</span></td>
				</tr>
				<tr>
					<td>Total:</td>
					<td>$<span id="total">0</span></td>
				</tr>
			</table>
		</div>
	</div>

	<input type="hidden" id="hidden_subtotal" name="invoice[subtotal]" value="0" />
	<input type="hidden" id="hidden_salestax" name="invoice[sales_tax]" value="0" />
	<input type="hidden" id="hidden_total" name="invoice[total]" value="0" />
</div>

	<div class="portlet light bordered">
		<div class="form-group">
			<%= f.label :note, class: "control-label sbold" %>
			<%= f.cktext_area :note, rows: 5, class: "form-control" %>
		</div>
	</div>

	<%= f.submit "Finalize Invoice", class: "btn btn-primary" %>
<% end %>


<!-- Error Modal -->
<div class="modal fade" id="error" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body error-message"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger red" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<!-- Find Product Modal -->
<div class="modal modal-scroll bs-modal-lg" id="draggable" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <a class="btn red" disabled> Global Product List </a>
                <a class="btn green button_serializeditems"> Serialized Item Inventory </a>
                <a class="btn green button_simpleitems"> Simple Item Inventory </a>
            </div>
            <div class="modal-body">

							<div class="table-responsive">
							    <table class="table table-striped table-bordered table-hover">
							        <thead>
							            <tr>
							                <th> SKU </th>
							                <th> Description </th>
							                <th> Carrier </th>
							            </tr>
							            <%= form_tag('/invoices/search_items', method: :get, remote: true) do -%>
							            <tr>
											<td>
												<%= text_field_tag "by_sku", nil, class: "form-control input-sm" %>
											</td>
						            		<td>
												<%= text_field_tag "by_description", nil, class: "form-control input-sm" %>
											</td>
						            		<td>
						            			<%= select_tag "by_carrier", options_from_collection_for_select(Carrier.all, "id", "name"), include_blank: true, class: "form-control input-sm" %>
						            		</td>
						            		<td>
						            			<button type="submit"><i class="fa fa-search"></i></button>
						            		</td>
							            </tr>
							            <% end -%>
							        </thead>
							        <tbody class="product-search-results">

							        </tbody>
							    </table>
								    <div class="ajax-paginate-products"></div>
							</div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Find Serialized Inventory -->
<div id="serialized_inventory" class="modal modal-scroll bs-modal-lg" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <a class="btn green button_products"> Global Product List </a>
                <a class="btn red" disabled> Serialized Item Inventory </a>
                <a class="btn green button_simpleitems"> Simple Item Inventory </a>
            </div>
            <div class="modal-body">
							<div class="table-responsive">
							    <table class="table table-striped table-bordered table-hover">
							        <thead>
							            <tr>
							                <th> SKU </th>
							                <th> Description </th>
							                <th> Serial Number </th>
							                <th> Carrier </th>
							            </tr>
							            <%= form_tag('/invoices/search_serialized', method: :get, remote: true) do -%>
							            <tr>
														<td>
															<%= text_field_tag "by_sku", nil, class: "form-control input-sm" %>
														</td>
						            		<td>
															<%= text_field_tag "by_description", nil, class: "form-control input-sm" %>
														</td>
						            		<td>
															<%= text_field_tag "by_serial", nil, class: "form-control input-sm" %>
														</td>
						            		<td>
						            			<%= select_tag "by_carrier", options_from_collection_for_select(Carrier.all, "id", "name"), include_blank: true, class: "form-control input-sm" %>
						            		</td>
						            		<td>
						            			<button type="submit"><i class="fa fa-search"></i></button>
						            		</td>
							            </tr>
							            <% end -%>
							        </thead>
							        <tbody class="serialized-search-results">

							        </tbody>
							    </table>
								    <div class="ajax-paginate-serialized"></div>
							</div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Find Simple Item Inventory -->
<div id="simple_item_inventory" class="modal modal-scroll bs-modal-lg" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <a class="btn green button_products"> Global Product List </a>
                <a class="btn green button_serializeditems"> Serialized Item Inventory </a>
                <a class="btn red" disabled> Simple Item Inventory </a>
            </div>
            <div class="modal-body">
							<div class="table-responsive">
							    <table class="table table-striped table-bordered table-hover">
							        <thead>
							            <tr>
							                <th> SKU </th>
							                <th> Description </th>
							                <th> On Hand </th>
							                <th> Price </th>
							            </tr>
							            <%= form_tag('/invoices/search_simple', method: :get, remote: true) do -%>
							            <tr>
														<td>
															<%= text_field_tag "by_sku", nil, class: "form-control input-sm" %>
														</td>
						            		<td>
															<%= text_field_tag "by_description", nil, class: "form-control input-sm" %>
														</td>
						            		<td>
														</td>
														<td>
														</td>
						            		<td>
						            			<button type="submit"><i class="fa fa-search"></i></button>
						            		</td>
							            </tr>
							            <% end -%>
							        </thead>
							        <tbody class="simple-search-results">

							        </tbody>
							    </table>
								    <div class="ajax-paginate-simple"></div>
							</div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Payment Modal -->
<div class="modal fade modal-scroll bs-modal-lg" id="payment" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Invoice a Payment</h4>
            </div>
            <form action="/invoices/add_payment_line_item" data-remote="true" method="get" accept-charset="UTF-8" id="invoicepaymentform">
            <div class="modal-body">
				<div class="form-horizontal">
		            <div class="form-group number_select">
		                <%= label :number_id, "Number", class: "col-md-2 control-label" %>
		                <div class="col-md-10">
		                	<%= select_tag "number_id", options_from_collection_for_select(@customer.numbers.all, "id", "number"), prompt: "Select a Number", class: "form-control number" %>
		                </div>
		            </div>
	        	</div>
            </div>
            <div class="modal-footer">
            	<button type="submit" class="btn btn-success green">Add Payment to Invoice</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Add Number Modal -->
<div class="modal fade modal-scroll bs-modal-lg" id="new_number" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add A New Number</h4>
            </div>
            <%= form_tag('/invoices/add_number', method: :get, id: "addnumberform", remote: true) do %>
            <div class="modal-body">
					<div class="form-horizontal">
			            <div class="form-group">
			                <%= label_tag :carrier_id, "Carrier", class: "col-md-2 control-label" %>
			                <div class="col-md-10">
			                	<%= select_tag "carrier_id", options_from_collection_for_select(Carrier.all, "id", "name"), class: "form-control" %>
			                </div>
			            </div>
			            <div class="form-group">
			                <%= label_tag :number, "Number to Add", class: "col-md-2 control-label" %>
			                <div class="col-md-10">
								<%= text_field_tag :number, nil, class: "form-control" %>
			                </div>
			            </div>
			            <div class="form-group">
			                <%= label_tag :phone_model, "Phone Model", class: "col-md-2 control-label" %>
			                <div class="col-md-10">
								<%= text_field_tag :phone_model, "", {class: "form-control"} %>
			                </div>
			            </div>
			            <div class="form-group">
			                <%= label_tag :imei, "IMEI", class: "col-md-2 control-label" %>
			                <div class="col-md-10">
								<%= text_field_tag :imei, "", {class: "form-control"} %>
			                </div>
			            </div>
			            <div class="form-group">
			                <%= label_tag :iccid, "ICCID", class: "col-md-2 control-label" %>
			                <div class="col-md-10">
								<%= text_field_tag :iccid, "", {class: "form-control"} %>
			                </div>
			            </div>
			            <div class="form-group">
			                <%= label_tag :act_date, "Activation Date", class: "col-md-2 control-label" %>
			                <div class="col-md-10">
								<%= date_field_tag :act_date, Date.today, {class: "form-control"} %>
			                </div>
			            </div>
			            		<%= hidden_field_tag :customer_id, params[:customer_id] %>
		        	</div>
            </div>
            <div class="modal-footer">
            	<%= submit_tag "Add New Number", {class: "btn btn-success green"} %>
            </div>
            <% end %>
        </div>
    </div>
</div>

<!-- Plans Search / Listing Modal -->
<div class="modal fade draggable-modal modal-scroll bs-modal-lg" id="plans" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Plans & Fees</h4>
            </div>
            <div class="modal-body">
            	
				<div class="table-responsive">
				    <table class="table table-striped table-bordered table-hover">
				        <thead>
				            <tr>
				                <th> Plan Code </th>
				                <th> Name </th>
				                <th> Carrier </th>
				                <th> Price </th>
				            </tr>
				            <%= form_tag('/plans/search', method: :get, remote: true) do -%>
				            <tr>
								<td>
									<%= text_field_tag "code", nil, class: "form-control input-sm" %>
								</td>
			            		<td>
									<%= text_field_tag "by_name", nil, class: "form-control input-sm" %>
								</td>
			            		<td>
			            			<%= select_tag "carrier", options_from_collection_for_select(Carrier.all, "id", "name"), include_blank: true, class: "form-control input-sm" %>
			            		</td>
			            		<td>
				                <div class="margin-bottom-5">
				                		<%= text_field_tag "by_price[price_from]", nil, placeholder: "From", class: "form-control input-sm" %>
				                </div>
				                <%= text_field_tag "by_price[price_to]", nil, placeholder: "To", class: "form-control input-sm" %>
			            		</td>
			            		<td>
			            			<button type="submit"><i class="fa fa-search"></i></button>
			            		</td>
				            </tr>
				            <% end -%>
				        </thead>
				        <tbody class="search-results">

				        </tbody>
				    </table>
					    <div class="ajax-paginate"></div>
				</div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
	$(".listing").on("click", function() {
		$.ajax({
	    url: "/invoices/search_items",
	    type: 'GET',
	    data: ""
	  })
	});

	$("#plans-list").on("click", function() {
		$.ajax({
	    url: "/plans/search",
	    type: 'GET',
	    data: ""
	  })
	});

	$(" .button_products ").on("click", function() {
		$(" #draggable ").modal("show");
		$(" #serialized_inventory ").modal("hide");
		$(" #simple_item_inventory ").modal("hide");
	})

	$(" .button_serializeditems ").on("click", function() {
		$(" #serialized_inventory ").modal("show");
		$(" #simple_item_inventory ").modal("hide");
		$(" #draggable ").modal("hide");
		$.ajax({
	    url: "/invoices/search_serialized",
	    type: 'GET',
	    data: ""
	  })
	})

	$(" .button_simpleitems ").on("click", function() {
		$(" #simple_item_inventory ").modal("show");
		$(" #serialized_inventory ").modal("hide");
		$(" #draggable ").modal("hide");
		$.ajax({
	    url: "/invoices/search_simple",
	    type: 'GET',
	    data: ""
	  })
	});

	$(".number").change(function(){

	  var value = {
	  	customer_id: "<%= @customer.id %>",
	  	number_id: $(this).val()
	  }

	  $('.payment_field').remove()
	  
	  $.ajax({
	    url: "/invoices/number_details",
	    type: 'GET',
	    data: value,
	    success: function(data) {
	      $("#products_list").html(data.products)
	    }
	  })
	});
</script>
