<h3 class="page-title sbold">Sale Types</h3>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th> Name </th>
                <th> Description </th>
                <th> Tracked? </th>
                <th style="width: 120px;"> Actions </th>
            </tr>
        </thead>
        <tbody>
          <% @sale_types.each do |sale_type| %>
            <tr>
                <td><%= sale_type.name %></td>
                <td><%= sale_type.description %></td>
                <td><%= sale_type.tracked %></td>
                <td>
                    <% if current_user.superuser? %>
                    <div class="btn-group btn-group-sm btn-group-solid">
                        <%#= link_to content_tag(:i, nil, class: "fa fa-file-o"), sale_type, class: "btn green tooltips", title: "Show" %>
                        <%= link_to content_tag(:i, nil, class: "fa fa-edit"), edit_sale_type_path(sale_type), class: "btn blue", title: "Edit" %>
                        <%= link_to content_tag(:i, nil, class: "fa fa-times"), sale_type, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn red" %>
                    </div>
                    <% end %>
                </td>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>

<%= paginate @sale_types %>