<h3 class="page-title"> Store List
  <small></small>
</h3>

<p id="notice"><%= notice %></p>

<div class="portlet-body">
    <div class="table-scrollable">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th> ID </th>
                    <th> Store Name </th>
                    <th> Alias </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
              <% @stores.each do |store| %>
                <tr>
                    <td> <%= link_to store.id, store %> </td>
                    <td> <%= link_to store.name, store %> </td>
                    <td> <%= link_to store.alias, store %> </td>
                    <td>
                        <div class="btn-group">
                            <%= link_to "Edit", edit_store_path(store), class: "btn btn-default" %>
                            <% if policy(store).destroy? %>
                            <%= link_to 'Delete', store_path(store), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                            <% end %>
                        </div>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
