<h3 class="page-title"> Edit User
  <small>(currently editting <%= @user.first_name %>)</small>
</h3>

<%= form_for @user do |f| %>

		<div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption">
            <i class="icon-speech"></i>
            <span class="caption-subject bold uppercase">Personal Information</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="form-group">
            <%= f.label :first_name, "First Name" %>
            <%= f.text_field :first_name, class: "form-control" %>          
          </div>
        </div>

        <div class="col-md-5">
          <div class="form-group">
            <%= f.label :middle_name %>
            <%= f.text_field :middle_name, class: "form-control" %>          
          </div>          
        </div>
      </div>

      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control" %>          
      </div>     

      <div class="form-group">
        <%= f.label :role %>
        <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}, { }, { class: "form-control" }) %>   
      </div>     

      <div class="form-group">
        <%= f.label :email %>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-envelope"></i>
          </span>
        <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>   

      <div class="form-group">
        <%= f.label :password %>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-envelope"></i>
          </span>
        <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-envelope"></i>
          </span>
        <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
      </div>
      
    </div>
    <%= f.submit "Update User", class: "btn green-meadow" %>
<% end %>

