<h3 class="page-title">Editing <%= params[:id] %>
</h3>

<%= form_for(@setting, url: setting_path(@setting.var), method: 'patch') do |f| %>
	<table class="table table-bordered">
	<tr>
		<th>Setting</th>
		<th>Value</th>
	</tr>
	<tr>
		<td><%= @setting.var %></td>
		<td><%= f.text_field :value, class: "form-control" %></td>
	</tr>
	</table>

  <%= f.submit "Update Setting", class: "btn green" %>
<% end %>