<h3 class="page-title"> Edit Customer Profile
  <small></small>
</h3>


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet bordered">
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name"> <%= @customer.full_name %> </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <%= link_to "MAKE PAYMENT", new_customer_payment_path(@customer), class: "btn green btn-sm" %>
                    <%= link_to "MAKE SALE", new_customer_invoice_path(@customer), class: "btn green btn-sm" %>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <%= link_to customer_path(@customer) do %>
                                <i class="icon-user"></i> Customer Profile </a>
                            <% end %>
                        </li>
                        <li class="active">
                            <%= link_to edit_customer_path(@customer) do %>
                                <i class="icon-settings"></i> Edit Customer </a>
                            <% end %>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
            <!-- END PORTLET MAIN -->
            <!-- PORTLET MAIN -->
            <div class="portlet light bordered">
                <!-- STAT -->
                <div class="row list-separated profile-stat">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> 37 </div>
                        <div class="uppercase profile-stat-text"> Visits </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> <%= @customer.payments.count if @customer.payments %> </div>
                        <div class="uppercase profile-stat-text"> Payments </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> <%= @customer.invoices.count if @customer.invoices %> </div>
                        <div class="uppercase profile-stat-text"> Invoices </div>
                    </div>
                </div>
                <!-- END STAT -->
                <div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-info"></i>
                        <a href="#"><%= @customer.age %> years old.</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-info"></i>
                        <a href="#"><%= @customer.days_until_birthday %> days until birthday!</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-infonumbers"></i>
                        <a href="#">Customer since <%= @customer.created_at.strftime('%b %e %Y') %></a>
                    </div>
                </div>
            </div>
            <!-- END PORTLET MAIN -->
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Details</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Customer Info</a>
                                </li>
                                <li>
                                    <a href="#tab_1_2" data-toggle="tab">Activation Type</a>
                                </li>
                                <li>
                                    <a href="#tab_1_3" data-toggle="tab">Customer Care</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!-- PERSONAL INFO TAB -->
                                <div class="tab-pane active" id="tab_1_1">
                                    <%= form_for @customer do |f| %>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h3>Name</h3>
                                            <div class="form-group">
                                                <%= f.label :first_name %>
                                                <%= f.text_field :first_name, class: "form-control" %>
                                            </div>
                                            <div class="form-group">
                                                <%= f.label :middle_name %>
                                                <%= f.text_field :middle_name, class: "form-control" %>
                                            </div>
                                            <div class="form-group">
                                                <%= f.label :last_name %>
                                                <%= f.text_field :last_name, class: "form-control" %>
                                            </div>
                                            <h3>Address</h3>
                                            <div class="form-group">
                                                <%= f.label :address %>
                                                <%= f.text_field :address, class: "form-control" %>
                                            </div>
                                            <div class="form-group">
                                                <%= f.label :address_2 %>
                                                <%= f.text_field :address_2, class: "form-control" %>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <%= f.label :city %>
                                                        <%= f.text_field :city, class: "form-control" %>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <%= f.label :state %>
                                                        <%= f.select :state, options_for_select(us_states), {prompt: false}, {class: "form-control"} %>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <%= f.label :zip %>
                                                        <%= f.text_field :zip, class: "form-control" %>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3>Store Origin</h3>
                                                <div class="form-group">
                                                    <%= f.label :store_id, "Store Origin" %>
                                                    <%= f.collection_select :store_id, Store.all, :id, :alias, {include_blank: true}, {class: "form-control"} %>
                                                </div>
                                            <h3>Date of Birth</h3>
                                                <div class="form-group">
                                                    <%= f.label :dob, "Birthdate" %>
                                                    <%= f.date_field :dob, class: "form-control" %>
                                                </div>
                                            <h3>E-mail</h3>
                                                <div class="form-group">
                                                    <%= f.label :email %>
                                                    <%= f.text_field :email, class: "form-control" %>
                                                </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h3>Mobile Numbers</h3>
                                                <%= f.fields_for :numbers do |number_fields| %>
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <%= f.label :number %>
                                                        <%= number_fields.text_field :number, class: "form-control" %>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <%= f.label :carrier_id, "Carrier" %>
                                                        <%= number_fields.collection_select :carrier_id, Carrier.all, :id, :name, {prompt: false}, {class: "form-control"} %>
                                                    </div>
                                                </div>
                                                <% end %>

                                            <h3>Add New Number(s)</h3>
                                            <div id="mobile_numbers"></div>
                                            <%= link_to "Add More Numbers", add_number_path, remote: true, cache: false, class: 'add_number_link' %>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h3>PIN</h3>
                                                    <%= f.label :pin, "PIN" %>
                                                    <%= f.text_field :pin, class: "form-control" %>
                                                </div>
                                                <div class="col-md-6">
                                                    <h3>Last 4</h3>
                                                    <%= f.label :last4, "Last 4 SSN" %>
                                                    <%= f.text_field :last4, class: "form-control" %>
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>

                                    <h3>Notes</h3>
                                        <div class="notes">
                                            <%= f.cktext_area :notes, class: "form-control" %>
                                        </div>

                                    <br />
                                    <%= f.submit "Update Customer", class: "btn green" %>
                                    <% end %>      
                                </div>
                                <!-- END PERSONAL INFO TAB -->
                                <!-- ACTIVATION TYPE -->
                                <div class="tab-pane" id="tab_1_2">
                                  <div class="form-body">
                                    <div class="form-group">
                                      <label class="control-label">Activation Type</label>
                                      <input type="dropdown" placeholder="" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label class="control-label">Credit Class</label>
                                      <input type="text" placeholder="Credit Class" class="form-control">
                                    </div>
                                    <button type="submit">Update</button>
                                  </div>
                                </div>
                                <!-- ACTIVATION TYPE -->
                                <!-- CHANGE PASSWORD TAB -->
                                <div class="tab-pane" id="tab_1_3">
                                    <%= form_for @customer, :html => {class: 'form-horizontal'} do |f| %>
	                                    <%= f.fields_for :numbers do |ff| %>
											  <div class="form-body">
													<h3 class="form-section"><%= number_to_phone(ff.object.number, area_code: true) %></h3>
	                                          <div class="form-group">
	                                          		<%= ff.label :phone_model, "Phone Model", class: "col-md-3 control-label" %>
	                                              <div class="col-md-8">
	                                              		<%= ff.text_field :phone_model, class: "form-control", placeholder: "Phone model.." %>
	                                              </div>
	                                          </div>
	                                          <div class="form-group">
	                                          		<%= ff.label :imei, "IMEI", class: "col-md-3 control-label" %>
	                                              <div class="col-md-8">
	                                              		<%= ff.text_field :imei, class: "form-control", placeholder: "IMEI number.." %>
	                                              </div>
	                                          </div>
	                                          <div class="form-group">
	                                          		<%= ff.label :iccid, "ICCID", class: "col-md-3 control-label" %>
	                                              <div class="col-md-8">
	                                              		<%= ff.text_field :iccid, class: "form-control", placeholder: "SIM card number.." %>
	                                              </div>
	                                          </div>
	                                          <div class="form-group">
	                                          		<%= ff.label :act_date, "Activation Date", class: "col-md-3 control-label" %>
	                                              <div class="col-md-8">
	                                              		<%= ff.date_field :act_date, class: "form-control" %>
	                                              </div>
	                                          </div>
	                                          <div class="form-group">
	                                          		<%= ff.label :carrier_id, "Carrier", class: "col-md-3 control-label" %>
	                                              <div class="col-md-8">
	                                              		<%= ff.collection_select :carrier_id, Carrier.all, :id, :name, {prompt: "Select a carrier"}, {class: "form-control"} %>
	                                              </div>
	                                          </div>
	                                      </div>
	                                    <% end %>
	                                    <%= f.submit "Update", class: "btn btn-primary" %>
                                    <% end %>
                                </div>
                                <!-- END CHANGE PASSWORD TAB -->
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>