<h3 class="page-title"> Customers List
  <small>new</small>
</h3>

<p id="notice"><%= notice %></p>

<div class="portlet box bordered light">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th> # </th>
                <th> First </th>
                <th> Last </th>
                <th> Middle </th>
                <th> Number(s) </th>
                <th> E-mail </th>
            </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
                <td> <%= link_to customer.id, customer_path(customer) %> </td>
                <td> <%= link_to "#{customer.first_name}", customer_path(customer) %> </td>
                <td> <%= link_to customer.last_name, customer_path(customer) %> </td>
                <td> <%= link_to "#{customer.middle_name}", customer_path(customer) %> </td>
                <td> 
                    <% customer.numbers.each do |number| %> 
                    <%= link_to number_to_phone(number.number, area_code: true), "", class: "tooltips", data: { container: "body", placement: "right", :"original-title" => "#{number.carrier.name}" } %> <br />
                    <% end %>
                </td>
                <td> <%= mail_to customer.email %> </td>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>