<h3 class="page-title"> Customer Profile
  <small></small>
</h3>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet bordered">
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name"> <%= @customer.full_name %> </div>
                    <div><%= mail_to @customer.email %></div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <%= link_to "MAKE PAYMENT", new_customer_payment_path(@customer), class: "btn green btn-sm" %>
                    <%= link_to "MAKE SALE", new_customer_invoice_path(@customer), class: "btn green btn-sm" %>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <%= link_to customer_path(@customer) do %>
                                <i class="icon-user"></i> Customer Profile </a>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to edit_customer_path(@customer) do %>
                                <i class="icon-settings"></i> Edit Customer </a>
                            <% end %>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
            <!-- END PORTLET MAIN -->
            <!-- PORTLET MAIN -->
            <div class="portlet light bordered">
                <!-- STAT -->
                <div class="row list-separated profile-stat">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> 37 </div>
                        <div class="uppercase profile-stat-text"> Visits </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> <%= @customer.payments.count if @customer.payments %> </div>
                        <div class="uppercase profile-stat-text"> Payments </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> <%= @customer.invoices.count if @customer.invoices %> </div>
                        <div class="uppercase profile-stat-text"> Invoices </div>
                    </div>
                </div>
                <!-- END STAT -->
                <div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-info"></i>
                        <a href="#"><%= @customer.age %> years old.</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-info"></i>
                        <a href="#"><%= @customer.days_until_birthday %> days until birthday!</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-info"></i>
                        <a href="#">Customer since <%= @customer.created_at.strftime('%b %e %Y') %></a>
                    </div>
                </div>
            </div>
            <!-- END PORTLET MAIN -->
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Details</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Customer Info</a>
                                </li>
                                <li>
                                    <a href="#tab_1_2" data-toggle="tab">Activation Check</a>
                                </li>
                                <li>
                                    <a href="#tab_1_3" data-toggle="tab">Customer Care</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!-- PERSONAL INFO TAB -->
                                <div class="tab-pane active" id="tab_1_1">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h3>Address</h3>
                                                <ul class="list-unstyled">
                                                    <li><%= @customer.address %></li>
                                                    <li><%= @customer.address_2 %></li>
                                                    <li><%= @customer.city %>, <%= @customer.state %> <%= @customer.zip %></li>
                                                </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h3>Mobile Numbers</h3>
                                                <ul class="list-unstyled">
                                                    <% @customer.numbers.each do |number| %>
                                                    <li><%= number_to_phone(number.number, area_code: true) %> (<%= number.carrier.name %>)</li>
                                                    <% end %>
                                                </ul>                                                
                                        </div>
                                    </div>

                                    <h3>Notes</h3>
                                        <div class="notes">
                                            <%= @customer.notes %>
                                        </div>
                                </div>
                                <!-- END PERSONAL INFO TAB -->
                                <!-- CHANGE AVATAR TAB -->
                                <div class="tab-pane" id="tab_1_2">
                                    
                                </div>
                                <!-- END CHANGE AVATAR TAB -->
                                <!-- CUSTOMER CARE -->
                                <div class="tab-pane" id="tab_1_3">
                                    <% @customer.numbers.each do |number| %>
                                    <h3 class="form-section"><%= number_to_phone(number.number, area_code: true) %></h3>
                                        <div class="row">
                                            <div class="col-md-3">Phone Model</div>
                                            <div class="col-md-9"><%= number.phone_model %></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">Carrier</div>
                                            <div class="col-md-9"><%= number.carrier.name %></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">IMEI</div>
                                            <div class="col-md-9"><%= number.imei %></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">ICCID</div>
                                            <div class="col-md-9"><%= number.iccid %></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">Activation Date</div>
                                            <div class="col-md-9"><%= number.act_date.strftime("%B %e, %Y (%m/%d/%y)") if number.act_date %></div>
                                        </div>
                                    <% end %>
                                </div>
                                <!-- CUSTOMER CARE -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>