<h3 class="page-title sbold">Sold IMEIs</h3>

<%= form_tag('/serialized_items/sold', method: :get) do %>
Search Sold IMEI:
  <%= text_field_tag :query, nil, class: "form-control" %>
  <%= submit_tag "Search" %>
<% end %>

<table class="table table-condensed table-bordered table-hover"> 
  <thead>
    <tr>
      <th>Item</th>
      <th>Serial Number</th>
      <th>Invoice #</th>
      <th>Customer</th>
      <th>Sold Date</th>
      <th>Sold Price</th>
      <th>Store</th>
    </tr>
  </thead>

  <tbody>
    <% @serialized_items.each do |item| %>
      <tr>
        <td><%= item.sellable.description %></td>
        <td><%= link_to item.serial_number, item %></td>
        <td><%= link_to LineItem.find_by(serialized_item_id: item.id).invoice.id, invoice_path(LineItem.find_by(serialized_item_id: item.id).invoice.id) %></td>
        <td><%= link_to LineItem.find_by(serialized_item_id: item.id).invoice.customer.full_name, customer_path(LineItem.find_by(serialized_item_id: item.id).invoice.customer) %></td>
        <td><%= LineItem.find_by(serialized_item_id: item.id).created_at.in_time_zone(Setting.time_zone).strftime("%D %r %Z") %></td>
        <td><%= number_to_currency(LineItem.find_by(serialized_item_id: item.id).sold_price) %></td>
        <td><%= item.store.alias %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @serialized_items %>