<h3 class="page-title"> Payments for <b><%= current_store.alias %></b></h3>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th> Payment Type </th>
            <th> Customer </th>
            <th> Number & Carrier </th>
            <th> Verified? </th>
            <th> Created By </th>
            <th> Fee </th>
            <th> Amount </th>
            <th> Created At </th>
            <% if current_user.superuser? %>
            <th> Actions </th>
            <% end %>
        </tr>
    </thead>
    <tbody>

      <% @payments.each do |payment| %>
      <tr>
          <td> <%= payment.payment_type.name %> </td>
          <td> <%= link_to payment.customer.full_name_lmf, customer_path(payment.customer) %> </td>
          <td> <%= number_to_phone(payment.number.number, area_code: true) if payment.number %> <%= "(#{payment.number.carrier.name})" if payment.number %> <%= link_to "Invoice ##{payment.invoice.id}", invoice_path(payment.invoice) if payment.invoice %></td>
          <td> <%= payment.verified? %> </td>
          <td> <%= payment.user.full_name %></td>
          <td> <%= number_to_currency(payment.payment_type.fee_amount) %> </td>
          <td> <%= number_to_currency(payment.amount) %> </td>
          <td> <%= payment.created_at.in_time_zone(Setting.time_zone).strftime("%D %r") %> </td>
          <td>
              <% if current_user.superuser? %>
              <div class="btn-group btn-group-sm btn-group-solid">
                  <%= link_to content_tag(:i, nil, class: "fa fa-file-o"), payment, class: "btn green tooltips", title: "Show" %>
                  <%= link_to content_tag(:i, nil, class: "fa fa-edit"), edit_payment_path(payment), class: "btn blue", title: "Edit" %>
                  <%= link_to content_tag(:i, nil, class: "fa fa-times"), payment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn red" %>
              </div>
              <% end %>
          </td>
      </tr>
      <% end %>
    </tbody>
</table>

<%= paginate @payments %>
