<h3 class="page-title"> Posting a Payment for <%= @customer.first_name %>
  <small></small>
</h3>

<%= form_for @payment do |f| %>
	
	<%= f.collection_select :carrier_id, Carrier.all, :id, :name, {prompt: "Select a Carrier"}, {class: "form-control"} %>
	<%= f.collection_select :payment_type_id, PaymentType.all, :id, :name, {prompt: "Select Payment Type"}, {class: "form-control"} %>
	<%= f.collection_select :number_id, @customer.numbers.all, :id, :number, {prompt: false}, {class: "form-control"} %>
	
	<%= f.label :amount %>
	<%= f.text_field :amount %>

	<%= f.hidden_field :customer_id, :value => @customer.id  %>

	<%= f.submit "Post Payment" %>

	<% end %>