<h3 class="page-title sbold">Payment Types</h3>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th> Name </th>
                <th> Fee? </th>
                <th> Fee Amount </th>
                <th> Carrier </th>
                <th style="width: 120px;"> Actions </th>
            </tr>
        </thead>
        <tbody>
          <% @payment_types.each do |pt| %>
            <tr>
                <td> <%= pt.name %> </td>
                <td> <%= "Yes" if pt.fee %> <%= "No" unless pt.fee %> </td>
                <td> <%= number_to_currency(pt.fee_amount) %> </td>
                <td> <%= pt.carrier.name if pt.carrier %> </td>
                <% if current_user.superuser? %>
                <td>
                    <div class="btn-group">
                        <%= link_to content_tag(:i, nil, class: "fa fa-edit"), edit_payment_type_path(pt), class: "btn btn-sm btn-default" %>
                        <% if policy(:payment_type).destroy? %>
                        <%= link_to content_tag(:i, nil, class: "fa fa-times"), payment_type_path(pt), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
                        <% end %>
                    </div>
                </td>
                <% end %>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>

<%= paginate @payment_types %>