<tr>
    <td style="max-width: 100px;"> <b><%= @sellable.sku %></b> </td>
    <td > <b><%= @sellable.description %></b> </td>
    <td style="width: 100px;"> <b><%= @qty %></b> </td>
    <td style="width: 100px;"> <b><%= number_to_currency(@cost) %></b> </td>
</tr>
<% @qty.to_i.times do |i| %>
<tr>
    <td> </td>
    <td> <input type="textarea" name="serialized_items[][serial_number]" placeholder="Enter a serial number." class="form-control" />  </td>
    <td colspan="2"> </td>
</tr>
<input type="hidden" name="serialized_items[][store_id]" value="<%= @store %>" />
<input type="hidden" name="serialized_items[][sellable_id]" value="<%= @sellable.id %>" />
<input type="hidden" name="serialized_items[][quantity]" value="1" />
<input type="hidden" name="serialized_items[][cost]" value="<%= @cost %>" />
<input type="hidden" name="serialized_items[][user_id]" value="<%= current_user.id %>" />
<% end %>
