<div class="portlet-body">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tab_1_1" data-toggle="tab" aria-expanded="true"> Global Product List </a>
        </li>
        <li class="">
            <a href="#tab_1_2" data-toggle="tab" aria-expanded="false"> Simple Items </a>
        </li>
        <li class="">
            <a href="#tab_1_3" data-toggle="tab" aria-expanded="false"> Serialized Items </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tab_1_1">
            <table class="table table-condensed table-bordered table-hover">
                <thead>
                    <tr>
                        <th> SKU </th>
                        <th> Description </th>
                        <th> Carrier </th>
                    </tr>
                </thead>
                <tbody>
                  <% @sellables.each do |sellable| %>
                    <tr>
                        <td><a href="#" class="sellable-sku"><%= sellable.sku %></a></td>
                        <td><%= sellable.description %></td>
                        <td><%= sellable.carrier.name %></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>

            <%= paginate @sellables, remote: true %>
        </div>
        <div class="tab-pane fade" id="tab_1_2">
            <table class="table table-condensed table-bordered table-hover">
                <thead>
                    <tr>
                        <th> SKU </th>
                        <th> Description </th>
                        <th> Quantity </th>
                    </tr>
                </thead>
                <tbody>
                  <% @simple_items.each do |si| %>
                    <tr>
                        <td><a href="#" class="sellable-sku"><%= si.sellable.sku %></a></td>
                        <td><%= si.sellable.description %></td>
                        <td><%= si.quantity %></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>

            <%= paginate @simple_items, remote: true %>
        </div>
        <div class="tab-pane fade" id="tab_1_3">
            <table class="table table-condensed table-bordered table-hover">
                <thead>
                    <tr>
                        <th> SKU </th>
                        <th> Description </th>
                        <th> Serial Number </th>
                    </tr>
                </thead>
                <tbody>
                  <% @serialized_items.each do |si| %>
                    <tr>
                        <td><a href="#" class="sellable-sku"><%= si.sellable.sku %></a></td>
                        <td><%= si.sellable.description %></td>
                        <td><%= si.serial_number %></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>

            <%= paginate @serialized_items, remote: true %>
        </div>
    </div>
</div>
