<h1 class="page-title"> Receive Inventory
    <small><%= "for #{current_store.alias}" %></small>
</h1>

<%= flash[:warning] %>

<div class="portlet light bordered">
    <div>
		<div class="row">
			<div class="col-md-6">
				<%= form_tag('/inventory/search', method: :get, remote: true) do %>
					<div class="input-group">
					    <%= text_field_tag "sku", nil, placeholder: "Enter SKU", class: "form-control sku-search" %>
					    <span class="input-group-btn">
					        <button class="btn blue" type="submit">ADD</button>
					    </span>	    			
					</div>
				<% end %>
			</div>
			<div class="col-md-6">
				<div class="input-group">
	                <span class="input-group-btn">
	                    <button class="btn red" type="button" data-toggle="modal" href="#draggable">
	                    	<i class="fa fa-list"></i>
	                    </button>
	                </span>
	                <input type="text" class="form-control" placeholder="Search...">
	                <span class="input-group-btn">
	                    <button class="btn blue" type="button">
	                    	<i class="fa fa-search"></i>
	                    </button>
	                </span>
	            </div>
			</div>
		</div>
    </div>
    <div class="portlet-body add-area">

    </div>
</div>


<% queue_index = 1 %>

        <%= form_tag('/inventory/save', method: :post) do %>
            <div class="table-scrollable">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th> SKU </th>
                            <th> Description </th>
                            <th> Quantity </th>
                            <th> Cost </th>
                        </tr>
                    </thead>
                    <tbody class="queue-area">

                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn green">Receive Inventory</button>
        <% end %>

