<% if drawer_count.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(drawer_count.errors.count, "error") %> prohibited this drawer_count from being saved:</h2>

    <ul>
    <% drawer_count.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for(drawer_count) do |f| %>
<div class="table-scrollable">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Denomination</th>
        <th>Count</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>$1 Dollar Bill</td>
        <td><%= f.number_field :ones, class: "form-control" %></td>
        <td>$10</td>
      </tr>
      <tr>
        <td>$2 Dollar Bill</td>
        <td><%= f.number_field :twos, class: "form-control" %></td>
        <td>$10</td>
      </tr>
      <tr>
        <td>$5 Dollar Bill</td>
        <td><%= f.number_field :fives, class: "form-control" %></td>
        <td>$10</td>
      </tr>
      <tr>
        <td>$10 Dollar Bill</td>
        <td><%= f.number_field :tens, class: "form-control" %></td>
        <td>$10</td>
      </tr>
      <tr>
        <td>$20 Dollar Bill</td>
        <td><%= f.number_field :twenties, class: "form-control" %></td>
        <td>$10</td>
      </tr>
      <tr>
        <td>$50 Dollar Bill</td>
        <td><%= f.number_field :fifties, class: "form-control" %></td>
        <td>$10</td>
      </tr>
      <tr>
        <td>$100 Dollar Bill</td>
        <td><%= f.number_field :hundreds, class: "form-control" %></td>
        <td>$10</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-scrollable">
  <table class="table">
    <thead>
      <tr>
        <th>Card Number</th>
        <th>Amount Charged</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= number_field_tag "card_number[]" %></td>
        <td><%= text_field_tag "charged_amount[]" %></td>
      </tr>
    </tbody>
  </table>
</div>

<%= f.submit %>
<% end %>
