<%= form_for(drawer_count) do |f| %>
  <% if drawer_count.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drawer_count.errors.count, "error") %> prohibited this drawer_count from being saved:</h2>

      <ul>
      <% drawer_count.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ones %>
    <%= f.number_field :ones %>
  </div>

  <div class="field">
    <%= f.label :twos %>
    <%= f.number_field :twos %>
  </div>

  <div class="field">
    <%= f.label :fives %>
    <%= f.text_field :fives %>
  </div>

  <div class="field">
    <%= f.label :tens %>
    <%= f.text_field :tens %>
  </div>

  <div class="field">
    <%= f.label :twenties %>
    <%= f.text_field :twenties %>
  </div>

  <div class="field">
    <%= f.label :fifties %>
    <%= f.text_field :fifties %>
  </div>

  <div class="field">
    <%= f.label :hundreds %>
    <%= f.text_field :hundreds %>
  </div>

  <div class="field">
    <%= f.label :total %>
    <%= f.text_field :total %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
