<h3 class="page-title sbold">Closing Report
  <br />
  <small><%= @drawer_count.created_at.in_time_zone(Setting.time_zone).strftime("%B %e, %Y @ %I:%M %p") %></small>
</h3>

<div class="table-scrollable">
  <table class="table">
    <thead>
      <tr>
        <th>Denomination</th>
        <th>Count</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>$1</td>
        <td><%= @drawer_count.ones %></td>
        <td><%= number_to_currency(@drawer_count.ones * 1) %></td>
      </tr>
      <tr>
        <td>$2</td>
        <td><%= @drawer_count.twos %></td>
        <td><%= number_to_currency(@drawer_count.twos * 2) %></td>
      </tr>
      <tr>
        <td>$5</td>
        <td><%= @drawer_count.fives %></td>
        <td><%= number_to_currency(@drawer_count.fives * 5) %></td>
      </tr>
      <tr>
        <td>$10</td>
        <td><%= @drawer_count.tens %></td>
        <td><%= number_to_currency(@drawer_count.tens * 10) %></td>
      </tr>
      <tr>
        <td>$20</td>
        <td><%= @drawer_count.twenties %></td>
        <td><%= number_to_currency(@drawer_count.twenties * 20) %></td>
      </tr>
      <tr>
        <td>$50</td>
        <td><%= @drawer_count.fifties %></td>
        <td><%= number_to_currency(@drawer_count.fifties * 50) %></td>
      </tr>
      <tr>
        <td>$100</td>
        <td><%= @drawer_count.hundreds %></td>
        <td><%= number_to_currency(@drawer_count.hundreds * 100) %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-scrollable">
  <table class="table">
    <thead>
      <tr>
        <th>Card Digits</th>
        <th>Charged Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @drawer_count.card_receipts.each do |cr| %>
      <tr>
        <td><%= cr.number %></td>
        <td><%= number_to_currency(cr.charged_amount) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="table-scrollable">
  <table class="table">
    <thead>
      <tr>
        <th>Cash Total</th>
        <th>Card Total</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= number_to_currency(@drawer_count.cash_total) %></td>
        <td><%= number_to_currency(@drawer_count.card_total) %></td>
        <td><%= number_to_currency(@drawer_count.total) %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="portlet light bordered">
  <%= @drawer_count.note.html_safe %>
</div>