
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN FORM-->
        <%= form_for(sellable, :html => { :class => "form-horizontal form-row-separated" }) do |f| %>
          <% if sellable.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(sellable.errors.count, "error") %> prohibited this sellable from being saved:</h2>

              <ul>
              <% sellable.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-shopping-cart"></i><b class="new-sellable-title">New Item</b></div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable-bordered">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab_general" data-toggle="tab" aria-expanded="true"> General </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_general">
                                <div class="form-body">
                                    <div class="form-group">
                                        <%= f.label :description, "Description:", class: "col-md-2 control-label" do %>
                                            Description: <span class="required"> * </span>
                                        <% end %>
                                        <div class="col-md-10">
                                            <%= f.text_field :description, class: "form-control sellable-title" %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <%= f.label :category_id, "Category:", class: "col-md-2 control-label" do %>
                                            Category: <span class="required"> * </span>
                                        <% end %>
                                        <div class="col-md-10">
                                            <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Select a category"}, {class: "form-control"} %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <%= f.label :carrier_id, "Carrier:", class: "col-md-2 control-label" do %>
                                            Carrier: <span class="required"> * </span>
                                        <% end %>
                                        <div class="col-md-10">
                                            <%= f.collection_select :carrier_id, Carrier.all, :id, :name, {prompt: "Select a carrier"}, {class: "form-control"} %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <%= f.label :sku, "SKU:", class: "col-md-2 control-label" do %>
                                            SKU: <span class="required"> * </span>
                                        <% end %>
                                        <div class="col-md-10">
                                            <%= f.text_field :sku, class: "form-control" %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <%= f.label :taxable, "Taxable:", class: "col-md-2 control-label" do %>
                                            Taxable: <span class="required"> * </span>
                                        <% end %>
                                        <div class="col-md-10">
                                            <%= f.check_box :taxable, class: "form-control" %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <%= f.label :serialized, "Serialized:", class: "col-md-2 control-label" do %>
                                            Serialized: <span class="required"> * </span>
                                        <% end %>
                                        <div class="col-md-10">
                                            <%= f.check_box :serialized, class: "form-control" %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <%= f.label :msrp, "MSRP:", class: "col-md-2 control-label" do %>
                                            MSRP: <span class="required"> * </span>
                                        <% end %>
                                        <div class="col-md-10">
                                            <%= f.text_field :msrp, class: "form-control" %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <%= f.label :taxable_price, "Taxable Price:", class: "col-md-2 control-label" do %>
                                            Taxable Price: <span class="required"> * </span>
                                        <% end %>
                                        <div class="col-md-10">
                                            <%= f.text_field :taxable_price, class: "form-control" %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <%= f.label :retail_price, "Retail Price:", class: "col-md-2 control-label" do %>
                                            Retail Price: <span class="required"> * </span>
                                        <% end %>
                                        <div class="col-md-10">
                                            <%= f.text_field :retail_price, class: "form-control" %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <%= f.label :promo_price, "Promo Price:", class: "col-md-2 control-label" do %>
                                            Promo Price: <span class="required"> * </span>
                                        <% end %>
                                        <div class="col-md-10">
                                            <%= f.text_field :promo_price, class: "form-control" %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <%= f.label :port_price, "Port-in Price:", class: "col-md-2 control-label" do %>
                                            Port-In Price: <span class="required"> * </span>
                                        <% end %>
                                        <div class="col-md-10">
                                            <%= f.text_field :port_price, class: "form-control" %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                  <%= f.submit "Create New Item", class: "btn green" do %>
                        <i class="fa fa-check"></i> Submit</button>
                      <% end %>
        <% end %>
    </div>
</div>

<script type="text/javascript">
  $(".sellable-title").keyup(function(event) {
  var stt = $(this).val();
  $(".new-sellable-title").text(stt);
});
</script>