<h3 class="page-title"> Products List
  <small>(listing all products and services. everything sellable.)</small>
</h3>

<div class="portlet-body">
    <div class="table-scrollable">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th> SKU </th>
                    <th> Description </th>
                    <th> Category </th>
                    <th> Retail Price </th>
                    <th> Taxable Price </th>
                    <th> Estimated On Hand </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
              <% @sellables.each do |sellable| %>
                <tr>
                    <td> <%= sellable.sku %> </td>
                    <td> <%= sellable.description %> </td>
                    <td> <%= sellable.category.name %> </td>
                    <td> <%= sellable.retail_price %> </td>
                    <td> <%= sellable.taxable_price %> </td>
                    <td> <%= sellable.estimated_on_hand %> </td>
                    <td>
                        <div class="btn-group">
                            <%= link_to 'Show', sellable, class: "btn btn-default" %>
                            <%= link_to "Edit", edit_sellable_path(sellable), class: "btn btn-default" %>
                            <% if policy(sellable).destroy? %>
                            <%= link_to 'Delete', sellable, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                            <% end %>
                        </div>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>