<h3 class="page-title"> Daily Sales Report
  <small>for <%= @selected_date %></small>
</h3>

<%= form_tag '/reports/sales', method: :get do %>
	<%= date_field_tag :date %>
	<%= submit_tag "Get Report", class: "btn btn-sm green" %>
<% end %>

<div class="portlet box bordered light">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th> Invoice # </th>
                <th> Customer </th>
                <th> Created By </th>
                <th> Date & Time </th>
                <th> Total Sale </th>
                <th> Total Taxes </th>
                <th> Total w/ Taxes </th>
            </tr>
        </thead>
        <tbody>
          <% @invoices.each do |invoice| %>
            <tr>
              <td><%= link_to invoice.id, invoice_path(invoice) %></td>
              <td><%= link_to invoice.customer.full_name_lmf, customer_path(invoice.customer) %></td>
              <td><%= invoice.user.first_name %></td>
              <td><%= invoice.created_at.in_time_zone(Setting.time_zone).strftime("%D %r") %></td>
              <td><%= number_to_currency(invoice.subtotal) %></td>
              <td><%= number_to_currency(invoice.sales_tax) %></td>
              <td><%= number_to_currency(invoice.total) %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>

Total Sales: <%= number_to_currency(@total) %>

<div class="portlet box bordered light">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th> Payment Type </th>
                <th> Customer </th>
                <th> Number & Carrier </th>
                <th> Created By </th>
                <th> Amount </th>
            </tr>
        </thead>
        <tbody>
          <% @payments.each do |payment| %>
            <tr>
				<td><%= payment.payment_type.name %></td>
				<td><%= payment.customer.full_name_lmf %></td>
				<td><%= payment.number.number %> (<%= payment.carrier.name %>)</td>
				<td><%= payment.user.first_name %></td>
				<td><%= payment.amount %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>

Total Payments: <%= number_to_currency(@payments_total) %>