<h3 class="page-title"> Daily Sales Report
  <small>for</small> <b><%= @selected_date.strftime("%B %e, %Y") %></b>
</h3>

<div class="form-group">
  <div class="row">
    <%= form_tag '/reports/sales', method: :get do %>
    <div class="col-md-3">
      <div class="input-group">
          <%= date_field_tag :date, nil, class: "form-control" %>
          <span class="input-group-btn">
              <%= submit_tag "Get Report", class: "btn blue" %>
          </span>
      </div>
    </div>
    <% end %>
  </div>
</div>

<hr>

<div class="portlet light">
  <div class="portlet-title">
      <div class="caption">
          <i class="fa fa-money"></i>Sales
      </div>
  </div>
  <div class="portlet-body">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th> Invoice # </th>
                <th> Customer </th>
                <th> Created By </th>
                <th> Date & Time </th>
                <th> Total Sale </th>
                <th> Total Taxes </th>
                <th> Total w/ Taxes </th>
            </tr>
        </thead>
        <tbody>
          <% @invoices.each do |invoice| %>
            <tr>
              <td><%= link_to "#{invoice.id} (view)", invoice_path(invoice) %></td>
              <td><%= link_to invoice.customer.full_name_lmf, customer_path(invoice.customer) %></td>
              <td><%= link_to invoice.user.first_name, user_path(invoice.user) %></td>
              <td><%= invoice.created_at.in_time_zone(Setting.time_zone).strftime("%D %r") %></td>
              <td><%= number_to_currency(invoice.subtotal) %></td>
              <td><%= number_to_currency(invoice.sales_tax) %></td>
              <td><%= number_to_currency(invoice.total) %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
    <div class="row">
      <div class="col-md-4 col-md-offset-8">
        <table class="table table-bordered table-hover">
          <tr>
            <td><b>Total Sales:</b></td>
            <td><%= number_to_currency(@total) %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>  
</div>

<div class="portlet light">
  <div class="portlet-title">
      <div class="caption">
          <i class="fa fa-money"></i>Payments
      </div>
  </div>
  <div class="portlet-body">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th> Payment Type </th>
                <th> Customer </th>
                <th> Number & Carrier </th>
                <th> Verified? </th>
                <th> Created By </th>
                <th> Amount </th>
            </tr>
        </thead>
        <tbody>
          <% @payments.each do |payment| %>
            <tr>
        <td><%= payment.payment_type.name %></td>
        <td><%= payment.customer.full_name_lmf %></td>
        <td><%= number_to_phone(payment.number.number, area_code: true) %> (<%= payment.carrier.name %>)</td>
        <td>
          <%= "Yes" if payment.verified? %>
          <%= "No" unless payment.verified? %>
          <%= link_to "(verify)", dashboard_path unless payment.verified? %>
        </td>
        <td><%= payment.user.first_name %></td>
        <td><%= number_to_currency(payment.amount) %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
    <div class="row">
      <div class="col-md-4 col-md-offset-8">
        <table class="table table-bordered table-hover">
          <tr>
            <td><b>Total Payments:</b></td>
            <td><%= number_to_currency(@payments_total) %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>  
</div>